<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>

<div class="form">
<form action="/answer">
  <input type="text" name="question" placeholder="what do you want to do ?">
  <input type="submit" value="Ask!" class="bouton">
</form>
</div>


